In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

In [11]:
diamonds = pd.read_csv('diamonds_renamed_cols.csv')
diamonds.head()

,carat,cut,color,clarity,depth,table,price,lenght_x,width_y,depth_z
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

### Remove 'depth' and 'table' as they are not going to very useful in estimating diamonds price

In [12]:
diamonds.drop(['depth', 'table'], axis=1, inplace=True)

In [13]:
diamonds.head()

   carat      cut color clarity  price  lenght_x  width_y  depth_z
0   0.23    Ideal     E     SI2    326      3.95     3.98     2.43
1   0.21  Premium     E     SI1    326      3.89     3.84     2.31
2   0.23     Good     E     VS1    327      4.05     4.07     2.31
3   0.29  Premium     I     VS2    334      4.20     4.23     2.63
4   0.31     Good     J     SI2    335      4.34     4.35     2.75

In [14]:
# split dataset to train and test set

Create X and y

In [15]:
X = diamonds.drop('price', axis=1)
y = diamonds['price']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

### Run Ordinal encoder on cut, color, clarity

In [17]:
categories = [['Fair', 'Good', 'Very Good', 'Ideal', 'Premium'],
             ['D', 'E', 'F', 'G', 'H', 'I', 'J'],
             ['I1','SI2', 'SI1', 'VS2',  'VS1', 'VVS2', 'VVS1', 'IF']]

In [18]:
ordinal_encoder = OrdinalEncoder(categories=categories)

In [19]:
obj_cols = ['cut', 'color', 'clarity']

X_train_cat = X_train[obj_cols]
X_test_cat = X_test[obj_cols]

In [20]:
ordinal_encoder.fit(X_train_cat)
X_train_cat = pd.DataFrame(ordinal_encoder.transform(X_train_cat))
X_test_cat = pd.DataFrame(ordinal_encoder.transform(X_test_cat))

In [21]:
X_train_cat.index = X_train.index
X_test_cat.index = X_test.index

In [42]:
num_X_train = X_train.drop(obj_cols, axis=1)
num_X_test = X_test.drop(obj_cols, axis=1)

In [43]:
oe_X_train = pd.concat([num_X_train, X_train_cat], axis=1)
oe_X_test = pd.concat([num_X_test, X_test_cat], axis=1)